JWT_SECRET=
FRONTEND_URL=

REDIS_BROKER_PASSWORD=
REDIS_BROKER_URL=
REDIS_CACHE_URL=

CLOUDINARY_URL=

OCR_API_KEY=

DISTANCE_MATRIX_FAST_API_KEY=
GEOCODING_FAST_API_KEY=

EXTERNAL_SERVICE_DISTANCE_WARNING_KM=

DATABASE_URL=

PORT_API_GATEWAY=

IDENTITY_DATABASE_URL=
CATALOG_DATABASE_URL=
CONTRACT_DATABASE_URL=
SIGNATURE_DATABASE_URL=
BILLING_DATABASE_URL=
NOTIFICATION_DATABASE_URL=
AUDIT_DATABASE_URL=

API_GATEWAY_NAME=
API_GATEWAY_SECRET=

IDENTITY_SERVICE_NAME=
IDENTITY_SERVICE_SECRET=

CATALOG_SERVICE_NAME=
CATALOG_SERVICE_SECRET=

CONTRACT_SERVICE_NAME=
CONTRACT_SERVICE_SECRET=

SIGNATURE_SERVICE_NAME=
SIGNATURE_SERVICE_SECRET=

BILLING_SERVICE_NAME=
BILLING_SERVICE_SECRET=

NOTIFICATION_SERVICE_NAME=
NOTIFICATION_SERVICE_SECRET=

AUDIT_SERVICE_NAME=
AUDIT_SERVICE_SECRET=

